doctype html
html(lang="es")
	head
		meta(charset="utf8", name="viewport", conten="width=device width, user-scalable=no, initial-scale=1, maximum-scale=1")
		link(rel=stylesheet, href="css/app.css")
		title Responsive Design

body
	p(class="parrafo") Hola Mundo
		span !!